In [8]:
import pandas as pd

In [15]:
def calculate_demographic_data(print_data=True):
  # Read data from file
  df = pd.read_csv('datasets/adult.data.csv')

  # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
  race_count = df['race'].value_counts()

  # What is the average age of men?
  males = df[df['sex'] == 'Male']
  average_age_men = males['age'].mean()

  # What is the percentage of people who have a Bachelor's degree?
  bachelors = len(df[df['education'] == 'Bachelors'])
  total = len(df)
  percentage_bachelors = (bachelors / total) * 100

  # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
  # What percentage of people without advanced education make more than 50K?
  advanced_degrees = ['Bachelors', 'Masters', 'Doctorate']
  advanced_50k = df[(df['education'].isin(advanced_degrees))
                    & (df['salary'] == '>50K')]
  advanced_total = df[df['education'].isin(advanced_degrees)]
  advanced_count = len(advanced_total)
  lower_50k = df[(~df['education'].isin(advanced_degrees))
                 & (df['salary'] == '>50K')]
  lower_total = df[~df['education'].isin(advanced_degrees)]
  lower_count = len(lower_total)

  # with and without `Bachelors`, `Masters`, or `Doctorate`
  higher_education = len(advanced_50k)
  lower_education = len(lower_50k)

  # percentage with salary >50K
  higher_education_rich = (higher_education / advanced_count) * 100
  lower_education_rich = (lower_education / lower_count) * 100

  # What is the minimum number of hours a person works per week (hours-per-week feature)?
  min_work_hours = df['hours-per-week'].min()

  # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
  min_hours_50k = df[(df['hours-per-week'] == min_work_hours)
                     & (df['salary'] == '>50K')]
  min_hours_total = df[df['hours-per-week'] == min_work_hours]
  min_hours_50k_count = len(min_hours_50k)
  min_hours_total_count = len(min_hours_total)

  rich_percentage = (min_hours_50k_count / min_hours_total_count) * 100

  # What country has the highest percentage of people that earn >50K?
  above_50k_df = df[df['salary'] == '>50K']
  grouped_data = above_50k_df.groupby(['native-country'])
  percentages = grouped_data['native-country'].count() / df.groupby(
    ['native-country'])['native-country'].count() * 100

  highest_earning_country = percentages.idxmax()
  highest_earning_country_percentage = percentages[highest_earning_country]

  # Identify the most popular occupation for those who earn >50K in India.
  india_above_50k = df[(df['native-country'] == 'India')
                       & (df['salary'] == '>50K')]
  occupation_counts = india_above_50k.groupby(['occupation'
                                               ])['occupation'].count()
  top_IN_occupation = occupation_counts.idxmax()

  # DO NOT MODIFY BELOW THIS LINE

  if print_data:
    print("Number of each race:\n", race_count)
    print("Average age of men:", average_age_men)
    print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
    print(
      f"Percentage with higher education that earn >50K: {higher_education_rich}%"
    )
    print(
      f"Percentage without higher education that earn >50K: {lower_education_rich}%"
    )
    print(f"Min work time: {min_work_hours} hours/week")
    print(
      f"Percentage of rich among those who work fewest hours: {rich_percentage}%"
    )
    print("Country with highest percentage of rich:", highest_earning_country)
    print(
      f"Highest percentage of rich people in country: {highest_earning_country_percentage}%"
    )
    print("Top occupations in India:", top_IN_occupation)

  return {
    'race_count': race_count,
    'average_age_men': average_age_men,
    'percentage_bachelors': percentage_bachelors,
    'higher_education_rich': higher_education_rich,
    'lower_education_rich': lower_education_rich,
    'min_work_hours': min_work_hours,
    'rich_percentage': rich_percentage,
    'highest_earning_country': highest_earning_country,
    'highest_earning_country_percentage': highest_earning_country_percentage,
    'top_IN_occupation': top_IN_occupation
  }

In [16]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.43354749885268
Percentage with Bachelors degrees: 16.44605509658794%
Percentage with higher education that earn >50K: 46.535843011613935%
Percentage without higher education that earn >50K: 17.3713601914639%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.86046511627907%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.43354749885268,
 'percentage_bachelors': 16.44605509658794,
 'higher_education_rich': 46.535843011613935,
 'lower_education_rich': 17.3713601914639,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.86046511627907,
 'top_IN_occupation': 'Prof-specialty'}

In [9]:
df = pd.read_csv('datasets/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K